<div class="container">
  <h1>TVA Component</h1>
  <div class="input-div">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor" class="icon"><polyline points="16 16 12 12 8 16"></polyline><line y2="21" x2="12" y1="12" x1="12"></line><path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path><polyline points="16 16 12 12 8 16"></polyline></svg>
    <input class="input-v" name="file" type="file" (change)="saveTva($event)" accept="application/pdf">

  </div>

  <br/><br/>
  <div class="container-tva" id="containertva">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">TVA Details</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Vente: {{ tva.vente }}</li>
          <li class="list-group-item">TVA Brute (20%): {{ tva.tvaBrute20 }}</li>
          <li class="list-group-item">TVA Brute (10%): {{ tva.tvaBrute10 }}</li>
          <li class="list-group-item">TVA Brute (5.5%): {{ tva.tvaBrute55 }}</li>
          <li class="list-group-item">Total TVA Brute Due: {{ tva.totTvaBruteDue }}</li>
          <li class="list-group-item">Total TVA Deductible: {{ tva.totTvaDed }}</li>
          <li class="list-group-item">Total TVA Due: {{ tva.totTvaDue }}</li>
          <li class="list-group-item">TVA Net Due: {{ tva.tvaNetDue }}</li>
          <li class="list-group-item">Tax Assessment: {{ tva.taxAss }}</li>
          <li class="list-group-item">Total to Pay: {{ tva.totPayer }}</li>
          <li class="list-group-item">AOI: {{ tva.aoi }}</li>
          <li class="list-group-item">AB Service: {{ tva.abservice }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
